@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Create DataBase", "CreateDataBase", "Tennis")</p>
    <p>@Html.ActionLink("Create Player", "CreatePlayer", "Tennis")</p>
</div>
