@{
    ViewBag.Title = "Tennis";
}

<h2>Welcome to the Tennis Page</h2>
<p>This is your custom Tennis Index view.</p>
<div>
    <p>@Html.ActionLink("Create DataBase", "CreateDataBase", "Tennis")</p>
    <p>@Html.ActionLink("Create Player", "CreatePlayer", "Tennis")</p>
</div>